[BASIC]
good-names=i,j,k,n,x,y,h,k,a,b,c,r,g,b

[MESSAGES CONTROL]
# bad-indentation:
#   I use 2 spaces for indentation, it does not like this.
# superfluous-parens:
#   If statements without parens aren't my style
# multiple-statements:
#   One line if statements trigger this.
# invalid-name:
#   I use CamelCase functions.
# dangerous-default-value:
#   Triggered only by default color options.
disable=bad-indentation,superfluous-parens,multiple-statements,invalid-name,dangerous-default-value